projetos/computer-vision/yolov4/yolov4.weights

/home/lola/VScode/Python/.libs
/home/lola/VScode/Python/projetos/lola/AI/v7/config.py
/home/lola/VScode/Python/projetos/lola/AI/v6/config.py
/home/lola/VScode/Python/projetos/lola/AI/v5/config.py