projetos/computer-vision/yolov4/yolov4.weights

/home/lola/VScode/Python/.libs
projetos/estatistica-mega-sena/scripts/__pycache__/gerador_de_numeros.cpython-314.pyc
projetos/estatistica-mega-sena/arquivos/combinacoes.txt
